<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>ABN AMRO - project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projecten</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        <h1>Project voor ABN AMRO</h1>
        <p>
            In het tweede half jaar van het eerste jaar kreeg ik voor het eerst een opdracht van een opdrachtgever. 
            De opdracht van deze opdrachtgever was het maken van een gebruikersgedrag analyse systeem. 
            Hiervoor moesten we eerst zelf een eigen site maken, omdat de regels van de bank erg streng zijn. 
            Op deze site hebben we het gedrag van de gebruikers kunnen analyseren. 
            Op deze manier kon de opdrachtgever inspiratie opdoen uit onze code en bleef alles veilig. 
        </p>
        <h2>Rol binnen het project</h2>
        <p>
            Dit project heb ik samen met één iemand anders gedaan. 
            In dit project heb ik alle niet-technische producten eerst zelf gemaakt. 
            Daarna liet ik ze goedkeuren door mijn teamgenoot. 
            Op deze manier kwamen we uiteindelijk op mooie producten. 
            Alle technische producten deden we samen. 
            We verdeelde aan het begin van de sprint de taken voor het coderen. 
            Dit was eigenlijk altijd helft helft. Hierdoor konden we beide deze leerkomsten goed bewijzen. 
            Daarnaast was dit project heel erg uitdagend op het gebied van coderen, dus zo leerde we allebei heel erg veel. 
        </p>
        <h2>Welke skills laat ik zien met dit project?</h2>
        <p>NNNNN</p>

    </main>

    <footer>
        <p>© Portfolio van Jayden Alsemgeest</p>
    </footer>

</body>
</html>