<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Dark tech - project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projecten</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        <h1>The narrow mind</h1>
        <p>
            In het tweede halfjaar van het tweede jaar heb ik de studio Dark tech gevolgd. 
            Hierin heb ik gekozen voor het creative technologist profiel. 
            Dit opdracht was om ambtenaren bewust te maken van het feit dat de automatisering in handhaving te ver gaat in de openbare ruimte. 
            Hiervoor hebben we een cubicle gemaakt. 
            Hierin geven we de persoon een survey om te maken. 
            Hij/zij wordt tijdens het maken hiervan door een AI geobserveerd. 
            Als hij/zij dan afgeleid raakt worden er strafpunten uitgedeeld. 
            Deze strafpunten worden aan het einde van de ervaring in de cubicle omgezet naar een geldboete. 
            Deze boete wordt uitgeprint en kan de persoon meenemen. 
            Als hij/zij uit de cubicle komt wordt er een flyer uitgedeeld en een uitleg gegeven over de koppeling tussen de ervaring in de cubicle en de automatisering in de publieke ruimte. 
            Hiermee proberen we de persoon tot nadenken te brengen over het feit dat de automatisering in de publieke ruimte te ver gaat. 
            De menselijke maat is hierin aan het verdwijnen en dat zorgt voor veel meer (onterechte) boetes. 
            Dit leidt dan automatisch ook weer tot meer bezwaren. 
        </p>
        <h2>Rol binnen het project</h2>
        <p>NNNNN</p>
        <h2>Welke skills laat ik zien met dit project?</h2>
        <p>NNNNN</p>

    </main>

    <footer>
        <p>© Portfolio van Jayden Alsemgeest</p>
    </footer>

</body>
</html>