<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Dark tech - project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/darktech.js') }}"></script>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projecten</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        <h1>THE NARROW MIND</h1>
        <p>
            In het tweede halfjaar van het tweede jaar heb ik de studio Dark Tech gevolgd, waarbij ik het profiel creative technologist heb gekozen.
            De opdracht was om ambtenaren bewust te maken van het feit dat automatisering in handhaving te ver gaat in de openbare ruimte. 
            Hiervoor hebben we een cubicle gemaakt. 
            Bezoekers kregen een survey om in te vullen, terwijl ze door een AI werden geobserveerd. 
            Bij afleiding werden strafpunten uitgedeeld, die aan het einde werden omgezet naar een geldboete. 
            Deze boete werd uitgeprint en meegenomen. 
            Na afloop ontvingen bezoekers een flyer met uitleg over de koppeling tussen de ervaring en automatisering in de publieke ruimte.
            Met dit concept wilden we ambtenaren aan het denken zetten over hoever automatisering in de publieke ruimte gaat. 
            De menselijke maat verdwijnt hierin, wat leidt tot meer onterechte boetes en bezwaren.
        </p>
        <h2>Rol binnen het project</h2>
        <p>
            Dit project heb ik uitgevoerd samen met vier andere studenten, vanuit het profiel creative technologist. 
            Mijn concrete bijdragen waren:
            <ul class="rol">
                <li>
                    <b>Cubicle</b>: 
                    ik heb de fysieke cubicle gebouwd om een afgezonderde, duistere ruimte te creëren. Dit versterkte de ervaring aanzienlijk.
                    Je kunt <a href="https://gitlab.fdmci.hva.nl/studio/dark-tech/projects/2025-2026-semester-2/ziipeenuufii29/-/blob/main/docs/Sprint%203/Cubicle_proces_eindversie.pdf?ref_type=heads">hier</a> klikken om naar het procesbestand van de cubicle te gaan.
                    <div>
                        <img class="eindresultaat-cubicle" src="{{ url_for('static', filename='images/Eindresultaat_cubicle_volledig.jpg') }}" alt="Dark tech project 1">
                    </div>
                </li>
                <li>
                    <b>Kijkdoos van de cubicle</b>: 
                    ik heb de kijkdoos van de cubicle gemaakt. Dit was het eerste prototype, voor de installatie. Hierdoor konden we de opdrachtgever goed laten zien wat we voor ogen hadden. 
                    <div>
                        <img class="kijkdoos-cubicle" src="{{ url_for('static', filename='images/Kijkdoos_cubicle.jpeg') }}" alt="Dark tech project 1">
                    </div>
                </li>
                <li>
                    <b>Ideaal script</b>: 
                    een gedetailleerd procesbeschrijving voor de opdrachtgever, zodat hij de experience zelfstandig kan uitvoeren.
                    Je kunt <a href="https://gitlab.fdmci.hva.nl/studio/dark-tech/projects/2025-2026-semester-2/ziipeenuufii29/-/blob/main/docs/Sprint%204/Ideale_script_narrow_mind.pdf?ref_type=heads">hier</a> klikken om naar het bestand te gaan.
                </li>
                <li>
                    <b>Wireframes</b>: 
                    ik heb wireframes gemaakt voor de survey site en deze afgestemd met de opdrachtgever. Na de eerste feedbackronde waren deze direct goedgekeurd.
                    <div>
                        <img class="wireframe-homepage" src="{{ url_for('static', filename='images/wireframe_homepage.jpeg') }}" alt="Dark tech project 5">
                        <img class="wireframe-surveyvragen" src="{{ url_for('static', filename='images/wireframe_surveyvragen.jpeg') }}" alt="Dark tech project 6">
                    </div>
                </li>
                <li>
                    <b>Adviesrapport</b>: 
                    samen met de groep geschreven. Mijn onderdelen waren proces, rollen en reflectie (alleen), de samenvatting (samen) en het advies (samen).
                    Je kunt <a href="https://gitlab.fdmci.hva.nl/studio/dark-tech/projects/2025-2026-semester-2/ziipeenuufii29/-/blob/main/docs/Sprint%204/Adviesrapport/Adviesrapport-Narrow_mind_eindversie.pdf?ref_type=heads">hier</a> klikken om naar het bestand te gaan.

                </li>
                <li>
                    <b>Survey site</b>: 
                    ik heb de volledige site gebouwd, inclusief alle vragen. Daarnaast heb ik time tracking toegevoegd om per vraag bij te houden wanneer gebruikers afgeleid raakten.
                    Je kunt <a href="https://gitlab.fdmci.hva.nl/studio/dark-tech/projects/2025-2026-semester-2/ziipeenuufii29">hier</a> klikken om naar de repository te gaan.
                    <div>
                        <img class="homepage-survey" src="{{ url_for('static', filename='images/Homepage_surveysite.jpg') }}" alt="Dark tech project 2">
                        <img class="vragensite-survey" src="{{ url_for('static', filename='images/Vragensite_survey.jpg') }}" alt="Dark tech project 5">
                        <img class="resultatenpagina-survey" src="{{ url_for('static', filename='images/Resultatenpagina_survey.jpg') }}" alt="Dark tech project 4">
                    </div>
                </li>
                <li>
                    <b>Gebruikerstesten</b>: 
                    twee rondes uitgevoerd: één solo om de survey te testen, één met de groep om de volledige experience te evalueren. Van beide rondes heb ik een testverslag geschreven.
                    Je kunt het eerste bestand <a href="https://gitlab.fdmci.hva.nl/studio/dark-tech/projects/2025-2026-semester-2/ziipeenuufii29/-/blob/main/docs/Sprint%203/Survey%20site/Gebruikerstest_survey.docx?ref_type=heads ">hier</a> vinden en het tweede bestand <a href="https://gitlab.fdmci.hva.nl/studio/dark-tech/projects/2025-2026-semester-2/ziipeenuufii29/-/blob/main/docs/Sprint%204/Gebruikerstest_volledige_ervaring.pdf?ref_type=heads">hier</a>.
                </li>
            </ul>

        </p>
        <h2>Welke skills laat ik zien met dit project?</h2>
        <p>
            <div class="skills">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>Bouwen van een fysieke creatieve oplossing (cubicle)</li>
                    <li>Volledig uitdenken van een ideaal proces voor de experience die we willen geven</li>
                    <li>Leiderschap</li>
                </ul>
            </div>
        </p>
        <div id="surveillance-panel">

            <button id="reveal-btn">
                Bekijk jouw analyse
            </button>
        
            <div id="analysis-box">
        
                <h3>Analyse voltooid</h3>
                <div id="status-line">SYSTEM READY</div>
                <p>
                    Tijd gespendeerd op pagina:
                    <span id="time-result"></span>
                </p>
        
                <p>
                    Muisbewegingen geregistreerd:
                    <span id="mouse-result"></span>
                </p>
        
                <p>
                    Scrollactiviteit:
                    <span id="scroll-result"></span>
                </p>
        
                <p class="warning">
                    Uw gedrag is succesvol geanalyseerd.
                </p>
        
            </div>
            <div id="fine-document">
                <h3>OFFICIEEL BESLUIT</h3>
            
                <p class="doc-id">Case ID: <span id="case-id"></span></p>
            
                <p>
                    Op basis van gedragsanalyse tijdens deze sessie is vastgesteld
                    dat uw interactiepatroon afwijkt van de normatieve baseline.
                </p>
            
                <p>
                    Gemeten afwijkingen:
                </p>
            
                <ul>
                    <li>Tijd buiten focus: <span id="fine-time"></span></li>
                    <li>Muisactiviteit: <span id="fine-mouse"></span></li>
                    <li>Interactie-instabiliteit: HIGH</li>
                </ul>
            
                <p class="fine">
                    Geschatte administratieve sanctie:
                    <strong>€ <span id="fine-amount"></span></strong>
                </p>
            
                <p class="warning">
                    Dit besluit is automatisch gegenereerd en vereist geen menselijke beoordeling. De boete wordt om de 5 seconde bijgewerkt op basis van uw gedrag.
                </p>
            </div>
        </div>
    </main>

    <footer>
        <p>© Portfolio van Jayden Alsemgeest</p>
    </footer>

</body>
</html>