<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Versie beheer systeem - project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projecten</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        <h1>Versiebeheer systeem voor gemeente Amsterdam</h1>
        <p>
            In het eerste halfjaar van het tweede jaar kreeg ik voor de tweede keer te maken met een opdracht van een opdrachtgever. 
            De opdracht was om een versiebeheersysteem te maken voor HR documenten. 
            Hiervoor hebben we een eigen site gemaakt, waarop we met dummy data versies konden opslaan. 
        </p>
        <h2>Rol binnen het project</h2>
        <p>
            Dit project heb ik gedaan samen met vier andere. 
            In dit project heb ik mij in het begin heel erg gefocust op het maken van een BPMN voor een nieuw proces. 
            Dit vond ik best wel lastig, omdat het proces echt volledig nieuw was. 
            Er waren in dit geval ook maar twee mensen die in hun hoofd een idee hadden van hoe het project eruit zou moeten komen te zien. 
            Daarna heb ik me bezig gehouden met het ontwerpen en realiseren van het datalandschap. Het ontwerpen heb ik gedaan met verschillende ERD’s. 
            Dit kwam, doordat onze applicatie bestond uit meerdere componenten. Het realiseren ervan had vooral te maken met het inrichten van de database, zoals ontwerpen met de ERD. 
            Daarnaast heb ik ook een ETL-proces gemaakt. Het was namelijk nodig om steeds data van de ene database naar de andere te verplaatsen. 
            In de laatste sprint heb ik me bezig gehouden met de technische overdracht. 
            Hiervoor heb ik een document gemaakt met alle informatie die nodig was om de technische onderdelen van ons project te kunnen gebruiken. 
            Dit vond de opdrachtgever super fijn en handig. 
        </p>
        <h2>Welke skills laat ik zien met dit project?</h2>
        <p>NNNNN</p>

    </main>

    <footer>
        <p>© Portfolio van Jayden Alsemgeest</p>
    </footer>

</body>
</html>