<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Versie beheer systeem - project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projecten</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        <h1>Versiebeheer systeem voor gemeente Amsterdam</h1>
        <p>NNNNN</p>
        <h2>Rol binnen het project</h2>
        <p>NNNNN</p>
        <h2>Welke skills laat ik zien met dit project?</h2>
        <p>NNNNN</p>

    </main>

    <footer>
        <p>© Portfolio van Jayden Alsemgeest</p>
    </footer>

</body>
</html>