{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welkom op mijn portfolio!</h1>
    <p>
        Ik ben Jayden Alsemgeest, ik ben 20 jaar en zit momenteel in mijn 2de jaar van de opleiding HBO-ICT. Binnen deze opleiding doe ik business IT & management. 
        Door middel van mijn portfolio pagina wil ik laten zien welke projecten ik heb gedaan. 
        Daarbij wil ik bij elk project meer uitleg geven over het project zelf, mijn rol binnen het project en welke skills ik laat zien met dit project. 
    </p>
{% endblock %}