<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Projecten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projecten</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        <h1>Mijn projecten</h1>
        <p>
            Hieronder vind je alle projecten die ik in de eerste 2 jaar van mijn studie heb gedaan. 
            Als je op de projecten klikt, krijg je meer informatie over het desbetreffende project. 
        </p>
        <ul class="projecten">
            <li class="project"><a href="/dokkie">Dokkie</a></li>
            <li class="project"><a href="/shapecheck">Shape check</a></li>
            <li class="project"><a href="/abnamro">ABN AMRO</a></li>
            <li class="project"><a href="/gemeenteamsterdam">Gemeente Amsterdam</a></li>
            <li class="project"><a href="/darktech">Dark tech</a></li>
        </ul>
    </main>

    <footer>
        <p>© Portfolio van Jayden Alsemgeest</p>
    </footer>

</body>
</html>