<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Shape check - project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projecten</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        <h1>Shape check - project</h1>
        <p>
            Shape check is een website voor het berekenen van je spier en vetpercentage. 
            Dit kon je doen door zelf een aantal gegevens in te vullen zoals buik en nekomtrek. 
            Dit project heb ik gedaan in het tweede kwart van het eerste jaar van HBO-ICT. 
        </p>
        <h2>Rol binnen het project</h2>
        <p>
            Dit project heb ik samen met één iemand anders gedaan. 
            Meestal hanteerde we met niet-technische taken de volgende verdeling. 
            We maakte allebei een product en dan gingen we kijken hoe we dit samen konden brengen naar één heel goed product. 
            De technische onderdelen heb ik in het begin vooral alleen gedaan. Het echt coderen heb ik zelf gedaan. 
            Mijn teamgenoot hielt zich vooral bezig met de opmaak van de site, dus voornamelijk CSS. 
        </p>
        <h2>Welke skills laat ik zien met dit project?</h2>
        <p>NNNNN</p>

    </main>

    <footer>
        <p>© Portfolio van Jayden Alsemgeest</p>
    </footer>

</body>
</html>